<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherWise</title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <!-- Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!--CSS Stylesheet Link-->
    <link rel="stylesheet" href="styles/style.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
    
    <!--Main Container-->
    <div class="container">
        <!-- App Heading-->
        <h1 id="app-title">WeatherWise</h1>
        <!-- Main Results Containers -->
            <!-- ------City Name ----- -->
            <div class="row">
                <div id="city-name-container" class="col-sm">
                    <h3 class="city">
                        <%= data.name %>
                    </h3>
                </div>
            </div>
            <!-- ------ Temp Icon ----- -->
            <div class = "row">   
                <img src= <%= iconURL %> alt ="Weather Icon" class="weather-icon">
            </div>
            <!-- ------ Current Temp ----- -->
            <div class="row">
                <div id="current-temp-container" class="col-sm">
                    <h1 class="current-temp">
                        <%= data.main.temp %> 째C
                    </h1>
                </div>
            </div>
            <!-- ------ Description ----- -->
            <div class="row">
                <div id="temp-descrption-container" class="col-sm">
                    <p class="temp-description">
                        <%= data.weather[0].description %>
                    </p>
                </div>
            </div>
            <!-- ------ Min and Max Temp ----- -->
            <% if (data.main.temp_max != data.main.temp_min ) { %>
                <div class="row">
                    <div id="min-temp-container" class="col-sm-6">
                        <h4 class="min-temp temp">
                            Min: <%= data.main.temp_min %> 째C
                        </h4>
                    </div>
                    <div id="max-temp-container" class="col-sm-6">
                        <h4 class="max-temp temp">
                            Max: <%= data.main.temp_max %> 째C
                        </h4>
                    </div>
                </div>
            <% } %>
            
            
         <div id="five-day container">
            
         </div>
         <h1 id="five-day-title"> 5 Day Forecast</h1>
        <!-------- 5-Day Forecast -------->
        <div class="row five-day-container">
            <% for (let day in dailyTemps) { %>
                <!---- Column  ---->
                <div class="col single-day">
                <!-- Day of the week-->
                    <h1 id="day-of-week" class="forecast-data">
                        <%= dailyTemps[day].dayOfWeek %>
                    </h1>
                <!-- Date -->
                    <h3 id="date" class="forecast-data">
                        <%= dailyTemps[day].dayDate%>
                    </h3>
                <!-- Average Temp Forecast-->
                    <h1 id="avg-temp" class="current-temp">
                        <%= dailyTemps[day].avgTemp %> 째C
                    </h1>
                <!-- Average Min and Max Temsps-->
                    <div class="row">
                        <div id="min-temp-container" class="col">
                            <p class="min-temp temp five-day-temp">
                                Min: <%= dailyTemps[day].avgMinTemp %>
                            </p>
                        </div>
                        <div id="max-temp-container" class="col">
                            <p class="max-temp temp five-day-temp">
                                Max: <%= dailyTemps[day].avgMaxTemp %>
                            </p>
                        </div>
                    </div>
                </div>

            <% } %>
            

        </div>
        <form action="/return" method="get">
            <button id ="go-back-btn" class="btn btn-lg btn-primary btn-block" type="submit">Another Forecast</button>
        </form>
         <p class="mt-5 mb-3 text-muted">&copy; 2024 Mbasa Cokile</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>